.battle-arena {
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
    margin-bottom: 20px;
    position: relative;
    margin-top: 20px;
}

.opponent-side,
.player-side {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.player-side {
    flex-direction: row-reverse;
    text-align: right;
    border-left: 5px solid var(--color-primary);
}

.opponent-side {
    border-right: 5px solid var(--color-secondary);
}

.battle-arena .stats h3 {
    font-size: 1.1rem;
    margin: 0;
}

.battle-arena .stats p {
    font-size: 0.8rem;
    margin: 4px 0 0 0;
}

.vs-badge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-secondary);
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 50%;
    font-family: var(--font-heading);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 15;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    z-index: 10;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 40px);
}

.battle-btn {
    flex: 1;
    padding: 15px 5px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s;
}

.battle-btn:active {
    transform: scale(0.95);
}

.battle-btn.canto {
    background: #E74C3C;
}

/* Rojo */
.battle-btn.plumaje {
    background: #2ECC71;
}

/* Verde */
.battle-btn.vuelo {
    background: #3498DB;
}

/* Azul */