spring:
  application:
    name: avis-backend
  r2dbc:
    url: r2dbc:postgresql://db.shmutxsmjokamnxrkufe.supabase.co:5432/postgres
    username: postgres
    password: ${SUPABASE_DB_PASSWORD:postgres}
    initialization-mode: always
  
avis:
  catalog:
    url: "https://raw.githubusercontent.com/usuario/repo/main/JSONVacio.JSON"
    initialization-mode: always
    redis:
      # Redis para el Marketplace y Redisson Locks
      host: localhost
      port: 6379
  rsocket:
    server:
      # Puerto para comunicación RSocket rápida y no bloqueante
      port: 7000
      mapping-path: /rsocket
      transport: tcp
      
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  # Puerto WebFlux REST clásico
  port: 8080

logging:
  level:
    org.springframework.r2dbc: DEBUG
    org.springframework.data.r2dbc: DEBUG
